In [ ]:
#if clause else clause

In [6]:
number_1 = 80
number_2 = 30

In [9]:
if number_1 > number_2:
    print(" number_1 is greater than number_2")
else:
    print("number_1 is smaller than number_2")

 number_1 is greater than number_2

In [ ]:
if number_1 >= number_2:
    print(" number_1 is greater than number_2")
else:
    print("number_1 is smaller than number_2")

In [12]:
name = "stafy"

if name == "steffy":
    print("entry is allowed")
else:
    print("entry is not allowed")

entry is not allowed

In [26]:
name = input("enter your name")
name = name.lower()
#print("your name is :" +name)
if name == "ram":
    print(" you are a participant, you are allowed !!")
elif name == "will":
    print("you are the organiser, you are allowed !!")
elif name == "abhi":
    print(" you are the owner, you are allowed !! ")
else:
    print("you are not invited !! not allowed")

enter your name WILL

you are the organiser, you are allowed !!

In [33]:
name = input("enter your name")
# how to concartenate varibale inside print statement

#method 1
print("your name is-:" +name )
#method 2
print("your name is " +name+ " and you are allowed")
#method 3
print(f"your name is {name} and you are allowed")

enter your name Will

your name is-:Will
your name is Will and you are allowed
your name is Will and you are allowed

In [ ]:
#calculator program

In [51]:
operation = input("select the operation you want to do press 1 for Addition press 2 for Substract press 3 for multiply press 4 for divide")

if operation == "1":
    num_1 = input("Enter the first number you want to add")
    num_2 = input("enter the second number you want to add")
    result = int(num_1) + int(num_2)
    result = print(f"the result is {result}")
elif operation == "2":
    num_1 = input("Enter the first number you want to substract")
    num_2 = input("enter the second number you want to substract")
    result = int(num_1) - int(num_2)
    result = print(f"the result is {result}")
elif operation == "3":
    num_1 = input("Enter the first number you want to Multiply")
    num_2 = input("enter the second number you want to Multiply")
    result = int(num_1) * int(num_2)
    result = print(f"the result is {result}")
elif operation == "4":
    num_1 = input("Enter the first number you want to divide")
    num_2 = input("enter the second number you want to divide")
    if int(num_2) <= 0:
        print("second number can not be zero !! please try with a positive number > 0")
    else:
        result = int(num_1) / int(num_2)
        result = print(f"the result is {result}")
else:
    print("this option is invalid")

select the operation you want to do press 1 for Addition press 2 for Substract press 3 for multiply press 4 for divide 4
Enter the first number you want to divide 3
enter the second number you want to divide -4

second number can not be zero !! please try with a positive number > 0

In [53]:
#Data collections objects
#set
#list (also called array in java)
#tuple
#dictionary

In [81]:
#set
# 
my_first_set_of_names = {"ram_chran","shyam",'will',1,True}

In [96]:
#Sets are used to store multiple items in a single variable.
# you can not add duplicates
# sets are immutable this measn you can not change the value of any item you can only remove or add itsms
# sets can not be indexed
#can store multiple data types
# there is no order of elements
# these are unordered

In [82]:
my_first_set_of_names.add("abhishek sahoo")

In [83]:
my_first_set_of_names

{1, 'abhishek sahoo', 'ram_chran', 'shyam', 'will'}

In [87]:
my_first_set_of_names.remove("shyam")

In [88]:
my_first_set_of_names

{1, 'abhishek sahoo', 'will'}

In [89]:
type(my_first_set_of_names)

set

In [107]:
#2nd data collection object
#LIST
# stores multiple values in a simgle variable
#you can store duplicates
#list can be indexed
#lists are ordered
# lists are mutable you can change the value of any itesm in the list

In [129]:
my_list = [1,3,4,4,'ram']

In [92]:
type(my_list)

list

In [100]:
len(my_list) # gets the length of the list

5

In [103]:
my_list[4]

'ram'

In [105]:
my_list[3]='David'

In [106]:
my_list

[1, 3, 4, 'David', 'ram']

In [108]:
my_list.append("ramc haram sahoo")

In [112]:
my_list.remove(4)

In [119]:
my_list

['ramc haram sahoo', 'ram', 3, 1]

In [114]:
my_list.reverse()

In [137]:
my_list

[1, 3, 4]

In [135]:
item = my_list.pop()

In [136]:
item

4

In [ ]:
#home work for tomorrow

In [ ]:
# # write a program
# Ticket Price Calculator: Write a program that calculates the ticket price for a movie theater based on the user's age. The ticket prices are as follows:

# Children (age 0-12): $5
# Teenagers (age 13-17): $7
# Adults (age 18-64): $10
# Seniors (age 65 and above): $8

# 1 ) first you need to ask how many persons want to watch the movie
# 2)  then ask age of each person person1_age person_2 age
# 3)  based on the age for each person calclate the total amount to be paid .

# # also consider the age of the person should not be more than 100 
# # also check they should only enter numbers not strings
# #