In [1]:
# FOR Loop

In [2]:
names_list = ["Alice", "Bob", "Charlie", "David", "Eve"]

In [4]:
for i in names_list:
    print(f'My name is {i}')

My name is Alice
My name is Bob
My name is Charlie
My name is David
My name is Eve

In [5]:
numbers_list = [1, 2, 3, 4, 5]

In [6]:
for i in numbers_list:
    square_of_num = i * i
    print(f'square of number {i} is {square_of_num}')

square of number 1 is 1
square of number 2 is 4
square of number 3 is 9
square of number 4 is 16
square of number 5 is 25

In [7]:
numbers = range(5)

In [19]:
names_list_1 = ["Alice", "Bob", "Charlie", "David", "Eve","steve"]

In [21]:
for i in range(len(names_list_1)):
    print(names_list_1[i])

Alice
Bob
Charlie
David
Eve
steve

In [15]:
len(names_list_1) # returns number of elements

5

In [22]:
#loop through a string

In [25]:
x = 'app  le'

In [26]:
for i in x:
    print(i)

a
p
p


l
e

In [27]:
for i in names_list_1:
    if i == 'David':
        print('you are not allowed!')
    else:
        print('you are allowed')

you are allowed
you are allowed
you are allowed
you are not allowed!
you are allowed
you are allowed

In [29]:
for i in names_list_1:
    if i == 'David':
        print('you are not allowed!')
        break
    else:
        print('you are allowed')
        continue

you are allowed
you are allowed
you are allowed
you are not allowed!

In [30]:
roll_num = [1,3,5,7,8,9]
student_names = ["Alice", "Bob", "Charlie", "David", "Eve","steve"]

In [32]:
for i in roll_num:
    for j in student_names:
        print(f'Roll number {i} is {j}')
        break

Roll number 1 is Alice
Roll number 3 is Alice
Roll number 5 is Alice
Roll number 7 is Alice
Roll number 8 is Alice
Roll number 9 is Alice

In [33]:
for  i , j in zip(roll_num,student_names):
     print(f"roll number {i} is {j}")

roll number 1 is Alice
roll number 3 is Bob
roll number 5 is Charlie
roll number 7 is David
roll number 8 is Eve
roll number 9 is steve

In [36]:
for i in student_names:
    if i == "David":
        print('you won the lottery')
    else:
        pass

you won the lottery